/* General Styles */

*{
  margin:0;
}

h1{
  font-size:150px;
  width: 100%;
}

.display{
  display: grid;
  justify-content: right;
  width:400px;
  height:150px;
  background-color: grey;
}

.black{
  color: black;
}

.red{
  color:red;
  
}

.buttonsGrid{
  width:400px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightgrey;
}

.span2{
  grid-column:span 2;
}

h2{
  font-size:70px;
  border-width:1px;
  border-color: black;
  border-style: solid;
}